
<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a [routerLink]="['/home']" class="nav-link link-dark px-2 active">Inicio</a></li>
      <li class="nav-item"><a [routerLink]="['/guia']" href="#guia" class="nav-link link-dark px-2">Guía botánica</a></li>
      <li class="nav-item"><a [routerLink]="['/blog']" href="#blog" class="nav-link link-dark px-2">Blog</a></li>
      <li class="nav-item"><a [routerLink]="['/faq']" href="#faq" class="nav-link link-dark px-2">Preguntas frecuentes</a></li>
    </ul>
    <ul class="nav" *ngIf="!usuarioService.usuario">
      <button  type="button" class="btn" (click)="openModal(content)">Inicia sesión</button>
      <ng-template #content let-modal>
        <app-login #modal></app-login>
      </ng-template>

      <li class="nav-item"><a href="#" class="nav-link link-dark px-2"></a></li>

      <button type="button" class="btn" (click)="openModal(content2)">Regístrate</button>
      <ng-template #content2 let-modal2>
        <app-signin #modal2></app-signin>
      </ng-template>
    </ul>

    <ul class="nav text-dark" *ngIf="usuarioService.usuario">
      <li
        *ngIf="usuarioService.isAdmin()"
        class="nav-item"
      >
        <button [routerLink]="['/gestion-de-contenido']" class="nav-link text-secondary px-2">
          Gestión de contenido
        </button>
      </li>
      <li class="nav-item"><button [routerLink]="['/perfil']" class="nav-link px-2">{{ usuarioService.usuario.nombre || 'Tu perfil' }}</button></li>
      <li class="nav-item"><button [routerLink]="['/home']"  class="nav-link px-2" (click)="usuarioService.logout()">Cerrar sesión</button></li>
    </ul>

  </div>
</nav>
<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex justify-center">
      <a href="/" class="d-flex mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none border-secondary">
        <span class="fs-4"> <span class="text-secondary">&#10022;</span><span class="text-primary fw-bold text-center">|plantQuest</span></span>
      </a>
<!--    <form class="col-12 col-lg-auto mb-3 mb-lg-0">-->
<!--      <input type="search" class="form-control" placeholder="Buscar..." aria-label="Buscar">-->
<!--    </form>-->
  </div>
</header>
