
<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active">Inicio</a></li>
      <li class="nav-item"><a [routerLink]="['/guia']" href="#guia" class="nav-link link-dark px-2">Guía botánica</a></li>
      <li class="nav-item"><a [routerLink]="['/blog']" href="#blog" class="nav-link link-dark px-2">Blog</a></li>
      <li class="nav-item"><a [routerLink]="['/faq']" href="#faq" class="nav-link link-dark px-2">Preguntas frecuentes</a></li>
    </ul>
    <ul class="nav">
      <button type="button" class="btn" (click)="open(content)">Inicia sesión</button>
      <ng-template #content let-modal>
        <app-login #modal></app-login>
      </ng-template>

      <li class="nav-item"><a href="#" class="nav-link link-dark px-2"></a></li>

      <button type="button" class="btn" (click)="open(content2)">Regístrate</button>
      <ng-template #content2 let-modal2>
        <app-signin #modal2></app-signin>
      </ng-template>


    </ul>
  </div>
</nav>
<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <span id="logo" class="fs-4"> <span id="estrellaLogo">&#10022;</span><span id="textoLogo">|plantQuest</span></span>
    </a>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0">
      <input type="search" class="form-control" placeholder="Buscar..." aria-label="Buscar">
    </form>
  </div>
</header>
