<div class="container">
  <h3>Preguntas frecuentes</h3>
  <br>
  <div class="details">
    <details class="details__container">
      <summary class="details__summary">
        <!-- The title -->
        <h4 class="details__title"> ¿Cómo puedo crear una colección de plantas?</h4>
      </summary>
    </details>
    <!-- The content -->
    <div class="details__desc">
      <div class="details__desc-inner">
        Para crear una colección, solo necesitas iniciar sesión en tu cuenta y dirigirte a la sección "Mis colecciones". Allí encontrarás la opción de crear una nueva colección. Puedes asignarle un nombre, agregar una descripción y comenzar a añadir plantas desde nuestra base de datos o agregar tus propias plantas manualmente.      </div>
    </div>
  </div>
  <div class="details">
    <details class="details__container">
      <summary class="details__summary">
        <!-- The title -->
        <h4 class="details__title">¿Puedo tener varias colecciones de plantas?</h4>
      </summary>
    </details>
    <!-- The content -->
    <div class="details__desc">
      <div class="details__desc-inner">
        ¡Sí! Puedes crear tantas colecciones como desees. Cada colección puede estar enfocada en diferentes tipos de plantas, como "Plantas de interior", "Plantas suculentas", o incluso puedes organizar tus colecciones por temporada o por cuidados específicos. ¡Todo depende de tu creatividad!      </div>
    </div>
  </div>
  <div class="details">
    <details class="details__container">
      <summary class="details__summary">
        <!-- The title -->
        <h4 class="details__title">¿Puedo compartir mis colecciones de plantas con otros usuarios?</h4>
      </summary>
    </details>
    <!-- The content -->
    <div class="details__desc">
      <div class="details__desc-inner">
        Actualmente, nuestras colecciones son privadas y solo accesibles para ti. Sin embargo, puedes compartir el enlace de tu colección con amigos o en redes sociales para que puedan ver las plantas que has añadido. ¡Estamos trabajando en opciones de colaboración para el futuro!      </div>
    </div>
  </div>


