<div *ngIf="isLoading" class="container">
  <div >Cargando...</div>
</div>

<div *ngIf="!isLoading" class="container">
  <h3>Preguntas frecuentes</h3>
  <br>
  <div *ngFor="let faq of faqs, let i = index" class="details">
    <details class="details__container">
      <summary class="details__summary">
        <h4 class="details__title"> {{ faq.pregunta }}</h4>
      </summary>
    </details>
    <div class="details__desc">
      <div class="details__desc-inner">
        {{ faq.respuesta }}</div>
    </div>
  </div>
</div>

