.row{


  .cartas{
    display: flex;
    gap: 1rem;
    flex-grow: 1;

    .card{

      .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img{
          width: 10rem;
        }

        .card-text{
          display: -webkit-box;
          -webkit-line-clamp: 4; /* ajustar el numero de líneas  */
          line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }


  }
}
