.row {


  .cartas {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;

    .card {

      flex: 1 1 23%;
      max-width: 23%;
      box-sizing: border-box;

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        //.card-text {
        //  display: -webkit-box;
        //  -webkit-line-clamp: 4;
        //  line-clamp: 4;
        //  -webkit-box-orient: vertical;
        //  white-space: nowrap;
        //  overflow: hidden;
        //  text-overflow: ellipsis;
        //  width: 100%;
        //}
      }
    }

    @media (max-width: 768px) {
      .card {
        flex: 1 1 48%; /* 2 cards per row */
        max-width: 48%;
      }
    }

    /* For mobile screens */
    @media (max-width: 480px) {
      .card {
        flex: 1 1 100%; /* 1 card per row */
        max-width: 100%;
      }


    }
  }
}
