

  <div class="page-timeline container">
    <h3 class="mb-4">Blog</h3>

    <app-vertical-timeline
      title="Cómo cuidar tus suculentas en invierno"
      date="November 20, 2024"
      description="Las suculentas son resistentes, pero en invierno necesitan cuidados especiales. Aprende cómo evitar el riego excesivo y protegerlas del frío."
      [tags]="[
        { title: 'Cuidado de Plantas', url: '#' },
        { title: 'Suculentas', url: '#' }
      ]"
    />
    <app-vertical-timeline
      title="5 plantas que purifican el aire de tu hogar"
      date="October 15, 2024"
      description="Descubre cuáles son las plantas más efectivas para mejorar la calidad del aire en tu casa y cómo cuidarlas fácilmente."
      [tags]="[
        { title: 'Curiosidades', url: '#' },
        { title: 'Plantas de Interior', url: '#' }
      ]"
    />
    <app-vertical-timeline
      title="El misterio de las plantas carnívoras"
      date="September 10, 2024"
      description="¿Sabías que las plantas carnívoras atraen a sus presas con un aroma único? Aprende cómo cuidarlas y qué necesitan para sobrevivir."
      [tags]="[
        { title: 'Curiosidades', url: '#' },
        { title: 'Plantas Exóticas', url: '#' }
      ]"
    />

    <app-vertical-timeline
      title="Cómo crear un jardín vertical en casa"
      date="August 5, 2024"
      description="Los jardines verticales son ideales para aprovechar espacios pequeños. Te explicamos paso a paso cómo construir el tuyo."
      [tags]="[
        { title: 'Decoración', url: '#' },
        { title: 'DIY', url: '#' }
      ]"
    />
  </div>
