<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Crea una cuenta</h4>

</div>
<div class="modal-body">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
      <label for="nombre">Usuario:</label>
      <input type="nombre" class="form-control" id="nombre"
             name="nombre" required
             [(ngModel)]="usuario.nombre">
    </div>
    <br>
    <div class="form-group">
      <label for="email">Correo:</label>
      <input type="email" class="form-control" id="email" name="email"
             required [(ngModel)]="usuario.email">
    </div>
    <br>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" class="form-control" id="password" name="password"
             required [(ngModel)]="usuario.password">
    </div>
    <br>
    <button type="submit" class="btn btn-outline-success" [disabled]="!loginForm.form.valid">Crear cuenta</button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger"
          (click)="closeModal()">Cerrar</button>
</div>
