.masthead{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1{
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.7);
  }



  .long-text {
    word-wrap: break-word;
    max-width: 80%; /* Adjust as needed */
    white-space: pre-line;
  }

}
