<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back" />
<div class="container">
  <app-volver>
  </app-volver>
  <header class="masthead" [style.background-image]="'url(' + blog?.imagePath + ')'"
          [style.background-position]="'center'"
          [style.background-size]="'cover'"
          [style.background-repeat]="'no-repeat'">



            <h1 class="text-white">{{ blog?.titulo }}</h1>


  </header>
  <!-- Post Content-->
  <article>
    <hr>
    <div [innerHTML]="formatText(blog?.texto)"></div>
  </article>
</div>
