<div class="container">
  <div class="row text-center p-4">
    <h4>Bienvenido 🌿</h4>
    <p>
      Encuentra inspiración y consejos prácticos para crear espacios verdes que te inspiren. Desde suculentas hasta plantas tropicales, te ayudamos a cultivar tu propio oasis.
    </p>
    <br>
    <a class="botonCustom" [routerLink]="['/guia']" href="#guia">Explora nuestra guía completa.</a>
    <br>
  </div>

  <div>
    <hr>
    <h3>Plantas más buscadas</h3>

    <div class="row">
      <div class="col-sm-6 cartas">
        <div *ngFor="let planta of plantas; let i = index" class="card ">
          <div class="card-body">
            <h5 class="card-title">{{ planta.nombre_comun }}</h5>
            <img class="card-img" src="assets/logo.png">
            <p class="card-text">{{ planta.info }}</p>
            <a [routerLink]="['/planta', planta.id]" href="#planta"
               class="botonCustom"
               data-mdb-ripple-init>Ver más</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>
  <div class="text-center">
    <a [routerLink]="['/guia']" href="#guia" class="btn btn-outline-success">Ver más</a>
  </div>
  <br>
  <div class="row">
    <hr>
    <app-blog></app-blog>

  </div>



</div>
