*{
  font-family: "DM Sans", sans-serif;
}

.botonCustom{
  font-family: Courier;
  color: #006F42;


}
.botonCustom:hover{
  color: #FE6D98;
}


.cartas{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;

  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img{
      width: 10rem;
    }

    .card-text{
      display: -webkit-box;
      -webkit-line-clamp: 2; /* ajustar el numero de líneas  */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

