<div class="container">
  <div class="row text-center p-4">
    <h4>Bienvenido 🌿</h4>
    <p>
      Encuentra inspiración y consejos prácticos para crear espacios verdes que te inspiren. Desde suculentas hasta plantas tropicales, te ayudamos a cultivar tu propio oasis.
    </p>
    <br>
    <a class="botonCustom" [routerLink]="['/guia']" href="#guia">Explora nuestra guía completa.</a>
    <br>
  </div>

  <div class="row cartas">
    <hr>

    <h3>Plantas más buscadas</h3>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Planta</h5>
          <img class="card-img" src="assets/logo.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="botonCustom" data-mdb-ripple-init>Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Planta</h5>
          <img class="card-img" src="assets/logo.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="botonCustom" data-mdb-ripple-init>Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Planta</h5>
          <img class="card-img" src="assets/logo.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="botonCustom" data-mdb-ripple-init>Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Planta</h5>
          <img class="card-img" src="assets/logo.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="botonCustom" data-mdb-ripple-init>Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="text-center">
    <a href="#" class="btn btn-outline-success">Ver mas</a>
  </div>
  <br>
  <div class="row">
    <hr>
    <app-blog></app-blog>

  </div>



</div>
