<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back" />
<div class="container">
  <div class="row volver">
    <a id="flecha" href="javascript:window.history.back();">
      <span class="material-symbols-outlined">arrow_back</span> <p>Volver</p></a>
  </div>


  <div class="card mb-3">
    <br>

    <div class="row g-0">
      <div class="col p-4 justify-content-around align-content-around">
        <img [src]=[plantaClicada?.imagePath] class="img-fluid rounded" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{plantaClicada?.nombre_comun}}</h5>
          <h6 class="card-title">{{plantaClicada?.nombre_cientifico}}</h6>
          <p class="card-text">{{plantaClicada?.info}}</p>

          <table>
            <tr>
              <td class="text-success">Abono</td>
              <td>{{ plantaClicada?.abono }}</td>
            </tr>
            <tr>
              <td class="text-success">Humedad</td>
              <td>{{ plantaClicada?.humedad }}</td>
            </tr>
            <tr>
              <td class="text-success">Iluminacion</td>
              <td>{{ plantaClicada?.iluminacion }}</td>
            </tr>
            <tr>
              <td class="text-success">Localizacion</td>
              <td>{{ plantaClicada?.localizacion }}</td>
            </tr>
            <tr>
              <td class="text-success">Riego</td>
              <td>{{ plantaClicada?.riego }}</td>
            </tr>
            <tr>
              <td class="text-success">Temperatura</td>
              <td>{{ plantaClicada?.temperatura }}</td>
            </tr>
            <tr>
              <td class="text-success">Toxicidad</td>
              <td>{{ plantaClicada?.toxicidad }}</td>
            </tr>
          </table>

          <br>
          <hr>
          <a class="align-content-center">
            Añadir a mi lista
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
