
.volver{

  font-size: 16.5pt;

  #flecha{
    color: #006F42;
  }

  #flecha:hover{
    color: #FE6D98;
  }

  a{
    display: flex;
    justify-content: flex-start;
  }

}

.card{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 2%;

  h6{
    color: #FE6D98;
  }

  .card-text{
    text-align: justify;
  }

  table{
    border-collapse: collapse;
    width: 100%;

    tr, td{
      border: 1px solid #006F42;
      padding: 8px;
      text-align: left;

    }


  }

  a{
    display: flex; justify-content: center; align-items: center;
  }

}
