<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back" />

<div class="container">
  <app-volver></app-volver>
  <h2>Editar Blog</h2>

  <form #blogForm="ngForm" (ngSubmit)="onSubmit(blogForm)">
    <div class="form-group d-flex flex-column gap-4">
      <div>
        <label for="titulo">Título</label>
        <input class="form-control" type="text" id="titulo" [(ngModel)]="blog.titulo" name="titulo" required minlength="5" #titulo="ngModel">
        <div *ngIf="titulo.invalid" class="text-danger">
          <small *ngIf="titulo.errors?.['required']">El título es obligatorio</small>
          <small *ngIf="titulo.errors?.['minlength']">El título es muy corto</small>
        </div>
      </div>

      <div>
        <label for="texto">Texto</label>
        <textarea class="form-control" type="text" id="texto" [(ngModel)]="blog.texto" name="texto" required minlength="10" #texto="ngModel"></textarea>
        <div *ngIf="texto.invalid"  class="text-danger">
          <small *ngIf="texto.errors?.['required']">El texto es obligatorio</small>
          <small *ngIf="texto.errors?.['minlength']">El texto es muy corto</small>
        </div>
      </div>

      <div>
        <label for="imagen">Imagen</label>
        <textarea class="form-control" type="text"  id="imagen" [(ngModel)]="blog.imagePath" name="imagen" required pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?" #imagen="ngModel"></textarea>
        <div *ngIf="imagen.invalid" class="text-danger">
          <small *ngIf="imagen.errors?.['required']">La imagen es obligatoria</small>
          <small *ngIf="imagen.errors?.['pattern']">Use una URL válida para la imagen</small>
        </div>
      </div>

      <div>
        <label for="tags">Tags</label>
        <input class="form-control" type="text" id="tags" [(ngModel)]="blog.tags" name="tags" required minlength="3" #tags="ngModel">
        <small>Separa los tags con comas</small>

        <div *ngIf="tags.invalid" class="text-danger">
          <small *ngIf="tags.errors?.['required']">Los tags son obligatorios</small>
          <small *ngIf="tags.errors?.['minlength']">Tag muy corto</small>
        </div>
      </div>

      <button class="btn btn-primary me-1" type="submit" [disabled]="!blogForm.form.valid">Editar Blog</button>
    </div>

  </form>
</div>
